body {
  display: flex;
  justify-content: left;
}

.calc {
  background-color: #e6d7c6;
  width: 60%;
  border: 20px white;
  border-radius: 5%;
}

#display {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  text-align: right;
  background-color: pink;
  overflow-x: scroll;
}

table {
  display: flex;
  border: white;
  background-color: #c6e6cb;
  padding: 5px;
}

td {
  width: 100px;
}

button {
  width: 100%;
  background-color: #e6d7c6;
  color: black;
}
